# ignore all subfolders
*/*
*
*/
!.gitignore
!colormap.py
!compress_and_diff.sh
!download_template.sh
!get_new_tempo_data.py
!get_tempo_data_for_day.py
!get_tempo_data_utils.py
!merge.sh
!process_data.py
!subset_all_folders.sh
!subset_files.sh
!subset_tempo_data.py
!tempo_process_funcs.py
!default_config.yaml
!run_backlog.sh
!logger.py
!Merge_and_Mean.ipynb
!create_env.sh
!environment.txt
!reorganize_data.ipynb
!check_new_files.py